@font-face {
  font-family: "IBM-Plex-Sans";
  src: url("/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --color-brand-green: hsl(179, 56%, 33%);
  --color-black: hsl(0deg 0% 0%);
  --color-gray: hsl(0deg 0% 50%);
  --color-white: hsl(0deg 0% 100%);

  /* Padding */
  --padding-base: 0.25rem;

  /* Border */
  --border-radius-base: 0.25rem;

  /* Font size */
  --font-size-xl: 1.5rem;
  --font-size-l: 1.25rem;
  --font-size-m: 1rem;
  --font-size-s: 0.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

input,
button,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
